
@model StudentCreateViewModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<form method="post">
    @*<input type="text" name="FirstName" value="" />
    <input type="text" name="LastName" value="" />
    <select>
        <option>asd</option>
        <option>asdasd</option>
        <option>asdsdasd</option>
    </select>
    <br />*@
    <div>
        <label asp-for="FirstName"> </label> @*显示名字*@
        <input asp-for="FirstName" />   @*要填写的数据*@
        <span asp-validation-for="FirstName"></span> @*错误提示*@
    </div>
    <div>
        <label asp-for="LastName"> </label>
        <input asp-for="LastName" />
        <span asp-validation-for="LastName"></span> @*错误提示*@
    </div>
    <div>
        <label asp-for="BirthDate"> </label>
        <input asp-for="BirthDate" type="date" />
        <span asp-validation-for="BirthDate"></span> @*错误提示*@
    </div>
    <div>
        <label asp-for="Gender"> </label>
        <select asp-for="Gender" asp-items="Html.GetEnumSelectList<Gender>()"></select>
        <span asp-validation-for="Gender"></span> @*错误提示*@
    </div>

    <div asp-validation-summary="All"></div> @*错误信息汇总*@
    <button type="submit" name="save">保存</button>
</form>
