@model There.Model.Student
@{
    ViewData["Title"] = "Detail";
}

<h1>Detail</h1>

<h1>@Model.LastName</h1>
<div>
    <h1>学生信息</h1>
    <div>id:@Model.id</div>
    <div> 姓名:@Model.LastName</div>
    <div> 性别:@Model.Gender</div>
    <div> 出生日期:@Model.BirthDate.ToString("yy-mm-dd")</div>

</div>
<div>
    <a asp-action="index">返回home index</a>
    <a asp-action="create">添加一个学生</a>
</div>